<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="automation" transaction-type="RESOURCE_LOCAL">
		<class>org.drait.source.domain.Attendence</class>
		<class>org.drait.source.domain.Department</class>
		<class>org.drait.source.domain.DepartmentSubject</class>
		<class>org.drait.source.domain.DepartmentSubjectSemester</class>
		<class>org.drait.source.domain.EligibleStudent</class>
		<class>org.drait.source.domain.Externals</class>
		<class>org.drait.source.domain.Internals</class>
		<class>org.drait.source.domain.Report</class>
		<class>org.drait.source.domain.Semester</class>
		<class>org.drait.source.domain.Student</class>
		<class>org.drait.source.domain.StudentDepartment</class>
		<class>org.drait.source.domain.Subject</class>

	</persistence-unit>
</persistence>